Generating test users with bcrypt hashed passwords...

-- Test users SQL
-- Generated on: 2025-12-08T16:30:07.322Z
-- IMPORTANT: Run this after the database schema is created

-- Test Student (student@test.com)
-- Password: student123
INSERT INTO users (username, email, password_hash, full_name, role, status)
VALUES ('student_test', 'student@test.com', '$2a$10$1Y1TLnbmiQvyPIh0OGb6T.0AEd9dwBHfyDJkE55HPQxjXSA7uUXJq', 'Test Student', 'student', 'active')
ON CONFLICT (email) DO UPDATE SET password_hash = EXCLUDED.password_hash;

-- Test Teacher (teacher@test.com)
-- Password: teacher123
INSERT INTO users (username, email, password_hash, full_name, role, status)
VALUES ('teacher_test', 'teacher@test.com', '$2a$10$.6yfuLQhMRmlLPe8sgYfqeZloQQlyJV6gvkBydCJqmLSsxr.KiDVC', 'Test Teacher', 'teacher', 'active')
ON CONFLICT (email) DO UPDATE SET password_hash = EXCLUDED.password_hash;


Γ£à Test users generated successfully!

≡ƒô¥ Login credentials:
   Student: student@test.com / student123
   Teacher: teacher@test.com / teacher123
